#eclipse
/bin
/.settings
/.classpath
/.project

#In case people make their workspace in the repo
/eclipse/

#idea
/.idea
/classes
*.iml

#gradle
/build
/.gradle

#occupational hazards
/projects/
/repo/
/buildSrc

# FML changelog
changelog.txt
*.py
*.7z
/ExtractRange.txt
/mappings.json
/*.log
